.filter-list {
  list-style-type: none;
  padding-left: 0px;
}
.loader-container-profile {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.profile-container-name {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  border-radius: 12px;
  padding: 12px;
  color: #64748b;
  width: 250px;
}
.profile-name {
  font-size: 20px;
  margin-top: 0px;
  padding-top: 0px;
  color: #6366f1;
}
.profile-heading {
  font-size: 24px;
}

.profile-container {
  width: 320px;
}
.filter-profile-container {
  color: #ffffff;
  border-bottom: 2px solid #64748b;
}
.checkBox {
  margin-right: 8px;
}
.profile-container {
  padding: 30px;
  color: #ffffff;
}
.filter-list-item {
  font-family: 'Roboto';
  margin-bottom: 12px;
}
