.header-container {
  list-style-type: none;
  background-color: #272727;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.header-website-logo {
  height: 50px;
  width: 100px;
}
.logout-button {
  border: 0px;
  width: 120px;
  background-color: #4f46e5;
  color: #ffffff;
  font-family: 'Roboto';
  height: 40px;
  cursor: pointer;
  border-radius: 12px;
}
.header-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
  color: #ffffff;
  font-family: 'Roboto';
}
